<div class="product-detail">
  <div class="product-image-container">
    <img class="product-image" [src]="food.image" alt="{{ food.name }}">
  </div>

  <div class="product-info">
    <h2 class="product-name">{{ food.name }}</h2>


    <p class="product-description">{{ food.description }}</p>

    <div class="product-rating">
      <span class="rating-label">Rating:</span>
      <div class="rating">
        <fa-icon *ngFor="let star of stars; let i = index"
           class="fa fa-star"
           [ngClass]="{'checked': food.rating > i }"
           [icon]="faStar"></fa-icon>
           {{ food.rating }}
      </div>
    </div>
    <button class="add-to-cart-button" type="button">Add to Cart</button>
  </div>
</div>
