<header>
  <div class="container">
    <a routerLink="/" class="logo">Home</a>
        <nav>
          <ul>
            <li>
              <button type="button" class="button-container"
              [style.backgroundColor]="showAddFood ? 'red' : 'green'"
              [textContent]="showAddFood ? 'Close' : 'Add Food Item'"
              (click)="onToggleShow()"
              *ngIf="hasRoute('/')">
              </button>
            </li>
            <li>
              <a routerLink="/cart">Cart</a>
            </li>

          </ul>

        </nav>

    </div>
</header>

