.container {
  /* Style the container element */
  display: flex; /* Arrange elements horizontally */
  padding: 0; /* Remove default padding */
  flex-wrap:wrap; /* Allow elements to wrap on multiple lines */
}
