  <div class="container">
  <ul class="food-list">
    <li class="food-item">

      <h2>
        {{ food.name }}
        <button type="button" (click)="onDelete(food)">
          X
        </button>
      </h2>


      <p >
        {{ food.description }}
      </p>
      <a>
        <img [src]="food.image" alt="{{ food.name }}"  routerLink="/food-item/{{ food.id }}">
      </a>

      <div class="food-icons">
        <div class="rating">
          <fa-icon *ngFor="let star of stars; let i = index"
             class="fa fa-star"
             [ngClass]="{'checked': food.rating > i }"
             [icon]="faStar"></fa-icon>
        </div>

        <div class="favortie-food">
          <fa-icon class="fa fa-heart"
          [ngClass]="{ 'fas': food.favorite, 'far': !food.favorite }"
          (click)="toggleFavorite()"
          [icon]="faHeart"
         >
        </fa-icon>
        </div>

        <p routerLink="/update-food/{{ food.id }}">Edit</p>
      </div>
    </li>

  </ul>
</div>
