<form class="update-food-form" *ngIf="food">

<div class="product-detail" *ngIf="food">
  <div class="product-image-container">
    <img class="product-image" [src]="food.image" alt="{{ food.name }}" >
  </div>

  <div class="product-info">
    <div class="form-control">
      <input type="text" [(ngModel)] ="food.name"
      name="name" id="name">
    </div>
     <div class="form-control">
      <input type="text" name="description" id="description" [(ngModel)]="food.description">
     </div>

    <div class="form-control star-rating">
    <div class="star-container">
      <fa-icon *ngFor="let star of starss; let i = index"
         (click)="rate(i + 1)"
         [icon] = "faStar"
         class="fa fa-star"
         [ngClass]="{'checked': food.rating >= i + 1}"></fa-icon>
    </div>
  </div>

    <div class="favortie-food">
      <fa-icon class="fa fa-heart"
      [ngClass]="{ 'fas': food.favorite, 'far': !food.favorite }"
      [icon]="faHeart"
      (click)="toggleFavorite()"
     >
    </fa-icon>
    </div>
    <button class="btn" type="button">Save Changes</button>
  </div>
</div>

</form>
