<div class="container" *ngIf="showAddFood">

 <form (ngSubmit) ="addFood()" class="add-form">

  <div class="form-control">
    <label for="name">Food name</label>
    <input type="text" [(ngModel)] ="name"
    name="name" id="name" placeholder="Add food name">
  </div>

  <div class="form-control">
    <label for="description">Food Description</label>
    <input type="text" [(ngModel)] ="description"
    name="description" id="description" placeholder="Add food description">
  </div>

  <div class="form-control">
    <label for="image">Food image</label>
    <input type="file" [(ngModel)]="imageFile" name="image" id="image" (change)="onImageSelected($event)">

    <div *ngIf="imagePreview">
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Food preview" class="preview">
    </div>
  </div>

  <!-- <div class="form-control star-rating">
    <label for="name">Food rating</label>
    <input type="number" [(ngModel)] ="rating"
    name="rating" id="rating" placeholder="Add food rating">
  </div> -->
  <div class="form-control star-rating">
    <label for="rating">Food Rating:</label>
    <div class="star-container">
      <fa-icon *ngFor="let star of stars; let i = index"
         (click)="rate(i + 1)"
         [icon] = "faStar"
         class="fa fa-star"
         [ngClass]="{'checked': rating >= i + 1}"></fa-icon>
    </div>
  </div>

  <div class="form-control">
    <label for="favorite">Favorite Food</label>
    <fa-icon class="fa fa-heart"
    [ngClass]="{ 'fas': favorite, 'far': !favorite }"
    (click)="toggleFavorite()"
    [icon]="faHeart"
   >
  </fa-icon>
  </div>

  <button type="submit" class="btn">Add Food Item</button>
 </form>
</div>
